.modalContainer {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}
.modalView {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 90vh;
    box-sizing: border-box;
    animation: fadeIn 0.3s ease forwards;
}
.modalHeader{
    background-color: rgb(221, 220, 220);
    padding: 10px;
    display: flex;
    
    justify-content: space-between;
    
}
.modalTitle {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    padding: 5px;
    align-items: center;
    
}
.fadeOut {
    animation: fadeOut 0.3s ease;
}
.closeButton {
    border: none;
    background-color: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: #999;
    cursor: pointer;
    &:hover{
        color: #000;
    }
}
.modalContent{
    padding: 10rem;
}
.loadingContainer{
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingView{
    background-color: white;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

@keyframes fadeIn {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}
@keyframes fadeOut {
    from {
        transform: scale(1);
    } 
    to {
        transform: scale(0);
    }
}